.lawyer-profile{
    .lawyer-profile__content{
        .lawyer-profile__content__personal-info{
            position: relative;
            top:-60px;
            z-index: 3;
            padding:0 15px;
            background: #fff;
            box-shadow: 1px 1px 3px #ccc;
            .lawyer-profile__content__personal-info__img{
                position: relative;
                text-align: center;
                img{
                    width: 150px;
                    height: 150px;
                    margin: auto;
                    border-radius: 50%;
                    top:0;
                    transform: translateY(-50%);
                    position: absolute;
                    left: 0;
                    right: 0;
                }
               
            }
            .lawyer-profile__content__personal-info__box{
                padding-top:100px;
                h3{
                    font-size: 22px;
                    font-weight: bold;
                    color: $blue;
                    margin-bottom: 0;
                }
                .lawyer__grade{
                    margin-bottom: 10px;
                    svg{
                        font-size: 10px;
                        &.lawyer__grade__empty{
                            color:$blue;
                        }
                        &.lawyer__grade__full{
                            color: $mainColor;
                        }
                    }
                }
                p{
                    font-weight: bold;
                    color: #343a40;
                    margin-bottom: 6px;
                    font-size: 14px;
                    svg{
                        color: $blue;
                        margin-#{$end}:8px
                    }
                }
                button{
                    background-color: $mainColor;
                    color: #FFF;
                    box-shadow: 1px 1px 4px #CCC;
                    margin-top:5px;
                    border:none;
                    border-radius: 4px;
                    font-size: 14px;
                    padding: 2px 7px;
                }
                .lawyer-profile__content__personal-info__box__list{
                    li{
                        color: #495057;
                        font-size: 14px;
                        margin-bottom: 10px;
                        span{
                            font-weight: bold;
                            font-size: 14px;
                            color: #343a40;
                            margin-#{$end}: 10px;
                        }
                        .lawyer-profile__content__personal-info__box__list__sub-list{
                            position: relative;
                            right: 55px;
                            li{
                                margin-bottom: 0;
                                svg{
                                    font-size: 7px;
                                    margin-#{$end}: 3px;
                                    color: $blue;
                                }
                            }
                        }
                    }
                }
            }
        }
        .lawyer-profile__content__public-info{
            position: relative;
            top:-60px;
            z-index: 3;
            padding: 8px 15px;
            background: #fff;
            box-shadow: 1px 1px 3px #ccc;
            @media #{$maxMobile} {
                top:0;
            }
            h4{
                font-size: 17px;
                font-weight: bold;
                position: relative;
                padding-#{$start}: 14px;
                margin-bottom: 0;
                padding-top:15px;
                &:before{
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 3px;
                    background-color: $mainColor;
                    top:76%;
                    #{$start}:0;
                }
            }
            hr{
                height: 2px;
                background: #cc8809;
            }
            .lawyer-profile__content__public-info__box{
                padding: 10px;
                h6{
                    text-align: center;
                    color: #b9b4b4;
                    font-size: 14px;
                }
                p{
                    font-size: 12px;
                    margin-bottom: 7px;
                    svg{
                        color: $blue;
                        margin-left: 5px;
                        font-size: 12px;
                    }
                }
                .lawyer-profile__content__public-info__box__client{
                    margin-top: 10px;
                    box-shadow: 1px 1px 3px #ccc;
                    padding: 10px;
                    h5{
                        font-size: 14px;
                        color: $blue;
                    }
                    p{
                        color: #8F8F8F;
                    }
                    .lawyer__grade{
                        margin-bottom: 10px;
                        svg{
                            font-size: 10px;
                            &.lawyer__grade__empty{
                                color:$blue;
                            }
                            &.lawyer__grade__full{
                                color: $mainColor;
                            }
                        }
                    }
                    span{
                        color: #8F8F8F;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}



